# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.log
*.suo

bin/
obj/
_ReSharper.*/

/altimailserver/installation/Output/*

/altimailserver/source/Server/AltimailServer/AltimailServer.h
/altimailserver/source/Server/AltimailServer/AltimailServer.ncb
/altimailserver/source/Server/AltimailServer/AltimailServer_i.c
/altimailserver/source/Server/AltimailServer/AltimailServer_p.c
/altimailserver/source/Server/AltimailServer/dlldata.c
/altimailserver/source/Server/AltimailServer/AltimailServer/*
/altimailserver/source/Server/AltimailServer/x64/*

/altimailserver/source/Server/AltimailServer.Minidump/x64/*

/altimailserver/source/WebAdmin/include_versioncheck.php

/altimailserver/tests/RegressionTests/TestResult.xml
/altimailserver/tests/packages/*
/altimailserver/tests/RegressionTests/packages/*

/altimailserver-libs

/libraries/libmysql.dll

*.vcxproj.filters
*.orig
*.sdf
*.opensdf
*.ipch
.vs