# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.user
*.log
*.suo

bin/
obj/
_ReSharper.*/

/hmailserver/installation/Output/*

/hmailserver/source/Server/hMailServer/hMailServer.h
/hmailserver/source/Server/hMailServer/hMailServer.ncb
/hmailserver/source/Server/hMailServer/hMailServer_i.c
/hmailserver/source/Server/hMailServer/hMailServer_p.c
/hmailserver/source/Server/hMailServer/dlldata.c
/hmailserver/source/Server/hMailServer/hMailServer/*
/hmailserver/source/Server/hMailServer/x64/*

/hmailserver/source/Server/hMailServer.Minidump/x64/*

/hmailserver/source/WebAdmin/include_versioncheck.php

/hmailserver/test/RegressionTests/TestResult.xml
/hmailserver/test/packages/*
/hmailserver/test/RegressionTests/packages/*

/hmailserver-libs
/altimailserver-libs

*.vcxproj.filters
*.orig
*.sdf
*.opensdf
*.ipch
.vs